@using RealState.Core.Application.ViewModels.Properties

@model SavePropertyViewModel
@{
    ViewData["Title"] = "Agregando Propiedad";

    bool update = ViewBag.Edit == 0 ? false : true;

    List <MantPropertyViewModel> propertyViewModel = ViewBag.Type;
    List <MantSalesViewModel> mantSalesViews = ViewBag.Sales;
    List <MantUpgradesViewModel> mantUpgrades = ViewBag.Upgrates;

    
}


<div class="container-fluid">
    @if(ViewBag.Action)
    {
        <h3>No puedes agregar una propiedad porque no se han registrado tipos de ventas, mejoras y tipo de propiedad, asegurate de que esten registradas en el sistema.</h3>
    }
    else {
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-text text-center text-dark">Agregando Propiedad</h3>
            </div>
            <div class="card-body">
            
                @Html.ValidationSummary(false,"", new {@class = "text-danger"})
                    

                <form method="post" asp-controller="Agent" asp-action="Add" enctype="multipart/form-data">
                    <div class="mb-5">
                        <label asp-for="AdsTypeId" class="form-label">Tipo de Propiedad:</label>
                        <select class="form-control" asp-for="AdsTypeId">
                                @foreach(var item in propertyViewModel)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                    </div>
                    <div class="mb-5">
                         <label asp-for="SalesId" class="form-label">Tipo de Venta:</label>
                        <select class="form-control" asp-for="SalesId">
                               @foreach(var item in mantSalesViews)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                        </select>
                    </div>
                     <div class="mb-5">
                        <label asp-for="Price" class="form-label">Precio:</label>
                        <input class="form-control" type="number" step="any" asp-for="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>

                    </div>
                     <div class="mb-5">
                        <label asp-for="Description" class="form-label">Descripcion:</label>
                        <textarea asp-for="Description" class="form-control" ></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>
                    <div class="mb-5">
                        <label asp-for="Size" class="form-label">Tamaño:</label>
                        <input class="form-control" type="number" step="any" asp-for="Size" />
                        <span asp-validation-for="Size" class="text-danger"></span>

                    </div>
                     <div class="mb-5">
                        <label asp-for="BedRooms" class="form-label">Habitaciones:</label>
                        <input class="form-control" type="number" step="any" asp-for="BedRooms" />
                        <span asp-validation-for="BedRooms" class="text-danger"></span>

                    </div>
                     <div class="mb-5">
                        <label asp-for="BathRooms" class="form-label">Baños:</label>
                        <input class="form-control" type="number" step="any" asp-for="BathRooms" />
                        <span asp-validation-for="BathRooms" class="text-danger"></span>

                    </div>
                     <div class="mb-5">
                        <label asp-for="Upgrates" class="form-label">Tipo de Propiedad:</label>
                        <select class="form-control" asp-for="Upgrates" multiple>
                               @foreach(var item in mantUpgrades)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                        </select>
                    </div>
                    <div class="mb-5">
                        <label asp-for="Files" class="form-label">Fotos:</label>
                        <input class="form-control" type="file" asp-for="Files" multiple />
                        <span asp-validation-for="Files" class="text-danger"></span>

                    </div>
                    <button class="btn btn-success" type="submit">Agregar</button>
                    <a asp-controller="Agent" asp-action="MantProperties" class="btn btn-warning">Volver Atras</a>
                </form>
            </div>
        </div>
    </div>
    }
</div>
